APP_NAME=ZettelWirtschaft
APP_ENV=dev
APP_URL=http://localhost:8080

DB_HOST=db
DB_NAME=zettelwirtschaft
DB_USER=user
DB_PASSWORD=geheim
DB_ROOT_PASSWORD=sehrgeheim

WEB_PORT=8080
MERCURE_PORT=3000
MERCURE_JWT_KEY=EinSehrLangerSichererSchluesselFuerZettelWirtschaft123!
MERCURE_PUBLIC_URL=http://localhost:3000/.well-known/mercure